.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cl1{
  background-color: #fbfffe;
}
/* Navbar.css */
/* Styling for Webkit-based browsers (Chrome, Safari) */
/* You can adjust these values to fit your design */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Optionally, style the scrollbar when the user interacts with it */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* You can add additional rules for Firefox and other browsers if needed */
/* Note: Styling scrollbars may not work consistently across all browsers */
.text-center img {
margin:0px;
padding:0px;
}
